[Unit]
Description=gunicorn daemon 
After=network.target 

[Service]
User=<имя-пользователя-в-системе> 

# адрес к директории, где установлен Gunicorn
WorkingDirectory=/home/<имя-пользователя-в-системе>/
<директория-с-проектом-yatube>/<директория с проектом>/ 


ExecStart=/home/<имя-пользователя-в-системе>/
<директория-с-проектом-yatube>/<путь-до-gunicorn-в-виртуальном-окружении> --bind 127.0.0.1:8000 main:app

[Install]
WantedBy=multi-user.target 